/* Estilos padrão para telas maiores */
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: #121212;
  max-width: 100vw;
  margin-left: 20.6rem;
  margin-right: 1.25rem;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: #131313;
  background-color: var(--bg-arrow-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.header__search {
  display: flex;
  align-items: center;
  width: 22.75rem;
  height: 3rem;
  margin-left: 0.5rem;
  background-color: #242424;
  border-radius: 500px;
  border: 1px solid transparent;
}

.header__search img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.625rem;
}

.header__search input {
  background: transparent;
  border: none;
  padding: 0px 6.25rem 0 0.75rem;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.header__login .subscribe {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  margin-right: 2rem;
  border: none;
}

.header__login .login {
  width: 6.25rem;
  height: 3rem;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
}

.header__search:hover {
  border: 1px solid #fff;
}

.header__login .subscribe:hover {
  transform: scale(1.04);
  color: #fff;
}

.header__login .login:hover {
  transform: scale(1.04);
}

/* Media Query para telas menores */
@media only screen and (max-width: 768px) {
  .header__navigation {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header__navigation .navigation {
    margin-top: 1rem;
    justify-content: center;
  }

  .header__login {
    margin-top: 1rem;
  }
}
